<!-- navbar -->
{% include 'navbar.html' %}

<div id="hero" class="text-center" style>

    <div class="row" style="margin-top:60px">
        <div class="col-6">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/77af3e111264249.60080f50e1582.gif" alt="" style="width: 100%;">      
        </div>
        <div class="col-6 text-left">
            <h1 class="text-purple big-heading" style="margin-top:50px; margin-left: 15px;">Listening to podcast</h1>
            <br>
            <hr style ="margin-left:15px; margin-right: 15px;">
            <br>
            <p class="" style="max-width: 300px; margin-left: 15px;">Podcasts are a popular and convenient way to learn, entertain, and inspire yourself. They can also be a great source of support and guidance for your mental health and well-being. Whether you are struggling with anxiety, depression, trauma, or any other mental health issue, there is a podcast that can help you heal and grow.</p>
            <h1 class="text-purple big-heading text-right mt-4" style="margin-right:15px">For<br> healing</h1>
        </div>
    </div>

</div>

<div class="subscribe p-5 text-center">
    <br>
    <h2> Subscribe to get notified to get daily suggested podcasts  </h2>
    <br><br>
    <form action="">
        <div class="row" style="text-align: right;">
            <div class="col-7">
                <input type="email" placeholder="Email" class="form-control-subscribe">
            </div>
            <div class="col-5 text-left" style="max-width:120px">
                <button type="submit" class="btn btn-outline-secondary">Send now</button>
            </div>
        </div>
    </form> 
    <br><br>
</div>


<br> 
<br> <br> 
<h1 class="text-center">Top Popular Recent Podcast Playlists</h1>

<div class="mt-5">
    <div class="container">
        <hr class="hr-2" style="width:68%; margin:auto">
        <br>
        

        {% for playlist in playlists %}
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 mt-4">
                        <div class="row">
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="static/imgs/Refined/shape.png" style="max-width: 40px;" alt="">
                                    </div>
                                    <div class="col-9">
                                        <h2> {{playlist.title}} </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                {% for podcast in all_podcasts %}
                                    {% if podcast.playlist.id == playlist.id %}
                                        <div>{{podcast.title}}</div>
                                    {% endif %}
                                {% endfor %}
                                <br>
                                <a class="mt-3" href=" {{url_for('playlist_play', id=playlist.id)}} ">Listen now <i class="bi bi-arrow-right"></i></a>
                            </div>
                            <div class="col-3">
                                <div>{{playlist.description[:120]}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <hr class="mt-3 hr-2" style="width:68%; margin:auto">
        {% endfor %}

    </div>
</div>
<br> <br> <br> <br> <br> <br> 

