<!-- nav bar -->
{% include 'navbar.html' %}

<div id="hero" class="hero route bg-image">
    <div class=""></div>
    <div class="hero-content display-table">
        <div class="table-cell-2">
            <!-- content block -->
            <h1 class="text-purple">Thank you for joining our community</h1>
            <div class="container">
                <br>
                <div class="row mt-4">
                    {% for user in all_users %}
                            <div class="col-3 mt-4">
                                <div class="card card-primary-color" style="max-width: 19rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{user.user_name}}</h5>
                                    <p class="card-text">Every user confidential information is protected by system. Everyone can just only see the displayed name</p>
                                    <br>
                                    <a href="{{url_for('other_user_blogs', id=user.id)}}" class="btn btn-primary">See blogs from this user</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end content block -->   
        </div>
    </div>
</div>


