<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<form action="/upload" method="post" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    <div class="text-left">
        {{ form.title.label(class = 'form-label') }}
        {{ form.title(class = 'form-control') }}

        {{ form.description.label(class = 'form-label mt-4') }}
        {{ form.description(class = "form-control")}}

        {{ form.playlist_id.label(class = 'form-label mt-4') }}
        {{ form.playlist_id(class = "form-control")}}

        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02" name="file">
            <div class="d-grid gap-2">
                <input class="btn btn-primary" type="submit" value="Upload now" />
            </div>
        </div>
    </div>
</form>



