<!-- nav bar -->
{% include 'navbar.html' %}

<div id="hero" class="hero route bg-image">
    <div class=""></div>
    <div class="hero-content display-table">
        <div class="table-cell-2">
            <!-- User profile block -->
            <h1 class="text-purple"> Hello {{user.name}}. This is your dashboard</h1>
            <p class="opacity-8 mt-4 text-gray">This dashboard is only displayed to you. Only your displayed name is visible to other people, so feel free to share your story with everyone <br> Start sharing your experience to help people <a href="{{url_for('create_blog')}}">here <i class="bi bi-arrow-right"></i></a></p>
            <div class="container">
                <br>
                <div class="row mt-3"> 
                    <div class="col-3">

                    </div>
                    <div class="col-6">
                        <br>
                        <div class="row">
                            <div class="col-md-4 border rounded">
                                <img src="{{ url_for('static', filename='imgs/shapes/rm_6.png') }}" class="img-fluid rounded-start" alt="..." style="height:230px">
                            </div>
                            <div class="col-md-8">
                                <div class="card text-left card-primary-color-person">
                                    <div class="card-header">
                                        Personal information
                                    </div> 
                                    <div class="card-body">
                                        {% if user.id == 1 %}
                                            <h5 class="card-title">You are {{user.id}}-st member</h5>
                                        {% elif user.id == 2 %}
                                            <h5 class="card-title">You are {{user.id}}-nd member</h5>
                                        {% elif user.id == 3%}
                                            <h5 class="card-title">You are {{user.id}}-rd member</h5>
                                        {% else %}
                                            <h5 class="card-title">You are {{user.id}}-th member</h5>
                                        {% endif %}                                        
                                        <br>
                                        <p class="card-text">Your name: {{user.name}} <br> Your email: {{user.email}} <br> Your display name: {{user.user_name}}</p>
                                        <a href="{{ url_for('update_info', id=user.id)}}" class="btn btn-outline-secondary">Edit info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        
                    </div>
                </div>
                
            </div>
            <!-- end user profile block -->   
            

            <!-- Posts Management -->
            <p class="opacity-8  mt-5 text-gray" >This is all your stories. See how your stories displayed to people <a href="{{url_for('all_blogs')}}">here <i class="bi bi-arrow-right"></i></a></p>
            <div class="container mt-4">

                <div class="row mt-4">
                    {% for blog in all_blogs %}
                        {% if blog.poster.id == current_user.id %}
                            <div class="col-3 mt-4">
                                <!-- Card display posts -->  
                                <div class="card">                                    
                                    <div class="card-body card-primary-color">
                                        <h3 class="card-title-blog">{{blog.title[:20]}}</h3>
                                        <a href="{{url_for('other_user_blogs', id=blog.poster.id)}}"><p class="card-text">{{blog.poster.user_name}}</p></a>
                                        <p class="card-text mt-4">{{blog.content[:150]}}......</p>
                                        <br>
                                        <div class="d-grid gap-2">
                                            <a href="{{url_for('edit_blog', id=blog.id)}}" class="btn btn-outline-primary">Edit content</a>
                                            <!-- Button trigger modal -->                                            
                                            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete content</a>
                                        </div>

                                        <!-- Delete Confirmation Modal -->
                                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content card-primary-color">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure to delete this story?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{{ url_for('delete_blog', id=blog.id+1)}}" type="button" class="btn btn-outline-primary">Delete</a>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br><br><br>

            <!-- Bookmark Management -->
            <br>
            <h2 class="text-purple">Your bookmark</h2>
            <div class="container mt-5">
                <div class="row">
                    {% for bookmark in bookmarks %}
                        {% if bookmark.bookmarker.id == current_user.id %}
                                <div class="col-3 mt-4">
                                    <div class="card">         
                                        <div class="card-header card-secondary-color">
                                            Featured story 
                                        </div>                           
                                        <div class="card-body card-primary-color">
                                            <h3 class="card-title-blog">{{bookmark.blog_bookmarked.title[:20]}}</h3>
                                            <a href="{{url_for('other_user_blogs', id=bookmark.bookmarker.id)}}"><p class="card-text">{{bookmark.bookmarker.user_name}}</p></a>
                                            <p class="card-text mt-4">{{bookmark.blog_bookmarked.content[:150]}}......</p>
                                            <br>
                                            <div class="d-grid gap-2">
                                                <a href="{{url_for('blog', id=bookmark.blog_bookmarked.id)}}" class="btn btn-outline-primary">Read story now</a>                  
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>  
            </div>
            <br><br><br>
        </div>
    </div>
</div>

