<!-- nav bar -->
{% include 'navbar.html' %}



<div id="hero" class="hero route bg-image" style="background-color: var(--bg-color); color: var(--purple-color);">
    
    <div class="overlay-itro" style="background-color: var(--bg-color);"></div>
    
    <br><br>
    <div class="hero-content display-table">
        <br> <br> <br> 
        <div class="container-fluid" style="max-width: 300px;">
            <!-- Searching bar -->
            <form method="POST" class="d-flex" role="search" action="{{url_for('search')}}">
                {{ form.hidden_tag() }}
                <input class="search-custom" placeholder="Search" name="searched">
                <button class="btn btn-outline-search" type="submit"><i class="bi bi-search"></i></button>
                <!-- Suggestion -->
                <a href="{{url_for('recsys')}}" style="margin-top: 6px;" >
                    <i class="bi bi-envelope-exclamation ms-4"></i>
                </a>
                <!-- End Suggestion -->
            </form>
            <!-- End Searching bar -->
        </div>
        
        <div class="table-cell-3" style="background-color: var(--bg-color);"s>
            <!-- content block -->
            <div class="container">
                <h2> Searching for "{{searched}}"</h2>
                <p class="opacity-8 mt-4"> Here is the stories most suitable with your search</p>
                <br>
                
                <div class="row mt-4">
                    {% for blog in blogs %}
                        <div class="col-4 mt-4">
                            <div class="card card-primary-color">
                                <div class="card-header card-secondary-color">
                                    Related story 
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title-blog">{{blog.title}}</h3>
                                    <a href="{{url_for('other_user_blogs', id=blog.poster.id)}}"><p class="card-text">{{blog.poster.user_name}}</p></a>
                                    <p class="card-text mt-4">{{blog.content[:150]}}......</p>
                                    <br>
                                    <div class="d-grid gap-2">
                                        <a href="{{url_for('blog', id=blog.id)}}" class="btn btn-outline-primary">Read now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end content block -->
        </div>
    </div>

    <script>
    </script>
