<br>
<div class="text-left">
    <div>Choose most suitable tags for your blog</div>
    <div class="form-check mt-3">
        <!-- Default / predetermined tags -->
        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="cảm xúc" id="cam_xuc">
        <label class="form-check-label-custom margin-right-tag" for="cam_xuc">
            Cảm xúc
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="chủng tộc" id="chung_toc">
        <label class="form-check-label-custom margin-right-tag" for="chung_toc">
            Chủng tộc
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="sở thích" id="so_thich">
        <label class="form-check-label-custom margin-right-tag" for="so_thich">
            Sở thích
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="du lịch" id="du_lich">
        <label class="form-check-label-custom margin-right-tag" for="du_lich">
            Du lịch
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="hẹn hò" id="hen_ho">
        <label class="form-check-label-custom margin-right-tag" for="hen_ho">
            Hẹn hò
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="gia đình" id="gia_dinh">
        <label class="form-check-label-custom margin-right-tag" for="gia_dinh">
            Gia đình
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="đồng nghiệp" id="dong_nghiep">
        <label class="form-check-label-custom margin-right-tag" for="dong_nghiep">
            Đồng nghiệp
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="bạn bè" id="ban_be">
        <label class="form-check-label-custom margin-right-tag" for="ban_be">
            Bạn bè
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="tâm lý" id="tam_ly">
        <label class="form-check-label-custom margin-right-tag" for="tam_ly">
            Tâm lý
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="nhân cách" id="nhan_cach">
        <label class="form-check-label-custom margin-right-tag" for="nhan_cach">
            Nhân cách
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="thể thao" id="the_thao">
        <label class="form-check-label-custom margin-right-tag" for="the_thao">
            Thể Thao
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="âm nhạc" id="am_nhac">
        <label class="form-check-label-custom margin-right-tag" for="am_nhac">
            Âm nhạc
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="sách truyện" id="sach_truyen">
        <label class="form-check-label-custom margin-right-tag" for="sach_truyen">
            Sách truyện
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="áp lực" id="ap_luc">
        <label class="form-check-label-custom margin-right-tag" for="ap_luc">
            Áp lực
        </label>

        <input type="checkbox" class="form-check-input-custom" name="tags[]" value="thi cử" id="thi_cu">
        <label class="form-check-label-custom margin-right-tag" for="thi_cu">
            Thi cử
        </label>
    </div>
</div>    



